
@using MvcCvPrroject.Models.Entity
@model List<tblSosyalMedya>

@{
    ViewBag.Title = "YeniEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deneyim Ekle</title>
    <link rel='stylesheet' href='https://codepen.io/uzcho_/pen/RmOWmw.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <link rel="stylesheet" href="~/IletisimDesign/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>

    <form method="post">
        <div style="margin-top:5rem;" class="resume-section-content">

            <div class="field" tabindex="1">
                <label for="Adi">
                    <i class="fa fa-text-width"></i>
                    Sosyal Medya Adı
                </label>
                <input name="Adi" type="text" required></input>
            </div>
            <div class="field" tabindex="2">
                <label for="Link">
                    <i class="fa fa-link"></i>
                    Linki
                </label>
                <input name="Link" type="text" required></input>
            </div>
            <div class="field" tabindex="3">
                <label for="Ikon">
                    <i class="fa fa-info-circle"></i>
                    Ikon
                </label>
                <input name="Ikon" type="text" required></input>
            </div>

            <button type="submit">Kaydet</button>
        </div>
        </div>
    </form>
</body>
</html>





