@model MvcCvPrroject.Models.Entity.tblSertifikalarim
@{
    ViewBag.Title = "YeniSertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sertifika Ekle</title>
    <link rel='stylesheet' href='https://codepen.io/uzcho_/pen/RmOWmw.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <link rel="stylesheet" href="~/IletisimDesign/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>

    <form method="post">
        <div style="margin-top:5rem;" class="resume-section-content">

            <div class="field" tabindex="1">
                <label for="Tarih">
                    <i class="fa fa-calendar"></i>
                    Tarih
                </label>
                <input name="Tarih" type="text" required></input>
            </div>
            <div class="field" tabindex="2">
                <label for="Aciklama">
                    <i class="fa fa-edit"></i>
                    Açıklama
                </label>
                <textarea rows="5" name="Aciklama" type="text" required></textarea>
            </div>
            <button type="submit">Kaydet</button>
        </div>
        </div>
    </form>
</body>
</html>

