@using MvcCvPrroject.Models.Entity
@model List<tblSosyalMedya>
<div class="social-icons">
    @foreach(var item in Model)
    {
    <a class="social-icon" href="@item.Link"><i class="@item.Ikon"></i></a>
    }
</div>
