@model MvcCvPrroject.Models.Entity.tblYeteneklerim
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeni Yetenek Ekle</title>
    <link rel="stylesheet" href="~/HtmlCssJs/style.css" />
    <script src="~/HtmlCssJs/script.js"></script>


</head>
<body>
    <form method="post">
        <div class="page">
            <div class="container">
                <div class="add-label">
                    <label for="yetenek ekle">Yetenek Ekle</label>
                </div>
                <div style="margin-bottom: 10px;" class="form__group field">
                    <input type="input" class="form__field" placeholder="" name="Yetenek" id='name' required />
                    <label for="name" class="form__label">Yetenek Açıklaması</label>
                </div>
                <div class="form__group field">
                    <input type="number" min="1" max="100" oninput="validateNumber(this);" class="form__field" placeholder="" name="Oran" id='name2' required />
                    <label for="name2" class="form__label">Derece</label>
                </div>
                <div class="button_lay">
                    <button class="button" style="letter-spacing: 5px;" role="button">KAYDET</button>
                </div>
            </div>
        </div>



        <!-- partial -->
    </form>
</body>
</html>
