@model MvcCvPrroject.Models.Entity.tblYeteneklerim
@{
    ViewBag.Title = "YetenekDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yetenek Düzenle</title>
    <link rel='stylesheet' href='https://codepen.io/uzcho_/pen/RmOWmw.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <link rel="stylesheet" href="~/IletisimDesign/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>

    <form method="post">
        <div style="margin-top:5rem;" class="resume-section-content">

            <div class="field" tabindex="1">
                <label for="Yetenek">
                    Yetenek
                </label>
                <input name="Yetenek" type="text" class="form-control" value="@Model.Yetenek" required></input>
            </div>
            <div class="field" tabindex="2">
                <label for="Oran">
                    Derece
                </label>
                <input oninput="validateNumber(this);" name="Oran" type="text" class="form-control" value="@Model.Oran" required></input>
            </div>

            <button type="submit">Güncelle</button>
        </div>
        </div>
    </form>
</body>
</html>

