.page{
  font-family: "Poppins", sans-serif;
  display:   flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  align-items: center;
  min-height: 100vh;
  max-width:100%;
  font-size: 1.5rem;
  box-sizing:unset;
  background-color: #ffff;
}
.container{
background-color: #f1f1f1;
  padding: 80px;
  border-radius: 10px;
  box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  
  max-width:600px;
}
.add-label{
  position: relative;
  /* padding: 15px 0 0; */
  flex-grow: 1;
  margin-bottom: 50px;
  font-size: 2em;
  text-shadow: 1px 1px 2px #ccc, 
  2px 2px 2px #66629F;
  
  color: #313638;
  margin-top: 0px;}
.form__group {
  position: relative;
  padding: 15px 0 0;
  flex-grow: 1;
  margin-top: 0px;
  width: 75%;
}


.button_lay{
  padding-top: 40px;
  
}
.button {
  appearance: button;
  background-color: #9b9b9b;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button:after {
  background-clip: padding-box;
  background-color: #66629F;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button:active {
  border-width: 4px 0 0;
  background: none;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}


.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #66629F, #9b9b9b);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.5s;
  font-size: 1rem;
  color: #66629F;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.form__label {
  position: absolute;
  top: 0;
  
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}


