@using MvcCvPrroject.Models.Entity
@model List<tblDeneyimlerim>
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deneyim Ekle</title>
    <link rel='stylesheet' href='https://codepen.io/uzcho_/pen/RmOWmw.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <link rel="stylesheet" href="~/responsive-contact-form/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>

    <form method="post">
        <div style="margin-top:5rem;" class="resume-section-content">

            <div class="field" tabindex="1">
                <label for="Baslik">
                    <i class="far fa-user"></i>Başlık
                </label>
                <input name="Baslik" type="text" required></input>
            </div>
            <div class="field" tabindex="2">
                <label for="AltBaslik">
                    <i class="far fa-envelope"></i>Alt Başlık 
                </label>
                <input name="AltBaslik" type="text" required></input>
            </div>
            <div class="field" tabindex="3">
                <label for="Tarih">
                    <i class="far fa-edit"></i>Tarih
                </label>
                <input name="Tarih" type="text" required></input>
            </div>
            <div class="field" tabindex="3">
                <label for="Aciklama">
                    <i class="far fa-edit"></i>Açıklama
                </label>
                <textarea rows="5" name="Aciklama" type="text" required></textarea>
            </div>
            <button type="submit">Kaydet</button>
        </div>
        </div>
    </form>
</body>
</html>






@*<form method="post">

    <div class="page">
        <div class="container">
            <div class="add-label">
                <label for="Yeni Deneyim Ekle">Yeni Deneyim Ekle</label>
            </div>
            <div style="margin-bottom: 10px;" class="form__group field">
                <input type="input" class="form__field" placeholder="" name="Baslik" id='name' required />
                <label for="name" class="form__label">Başlık</label>
            </div>

            <div style="margin-bottom: 10px;" class="form__group field">
                <input type="input" class="form__field" placeholder="" name="AlBaslik" id='name' required />
                <label for="name" class="form__label">Alt Başlık 1</label>
            </div>

            <div style="margin-bottom: 10px;" class="form__group field">
                <input type="input" class="form__field" placeholder="" name="Tarih" id='name' required />
                <label for="name" class="form__label">Tarih</label>
            </div>

            <div style="margin-bottom: 10px;" class="form__group field">
                <input type="input" class="form__field" placeholder="" name="Aciklama" id='name' required />
                <label for="name" class="form__label">Açıklama</label>
            </div>
            <div class="button_lay">
                <button class="button" style="letter-spacing: 5px;" role="button">Kaydet</button>
            </div>
        </div>
    </div>
</form>*@
