@using MvcCvPrroject.Models.Entity
@model MvcCvPrroject.Models.Entity.tblProjelerim


@{
    ViewBag.Title = "ProjeDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proje Düzenle</title>
    <link rel='stylesheet' href='https://codepen.io/uzcho_/pen/RmOWmw.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <link rel="stylesheet" href="~/IletisimDesign/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>

    <form method="post">
        <div style="margin-top:5rem;" class="resume-section-content">

            <div class="field" tabindex="1">
                <label for="ProjeAdi"><i class="fa fa-text-width"></i>
                    Proje Adı
                </label>
                <input name="ProjeAdi" type="text" class="form-control" value="@Model.ProjeAdi" required></input>
            </div>
            <div class="field" tabindex="2">
                <label for="Teknolojiler"><i class="fa fa-code"></i>
                    Teknolojiler
                </label>
                <input name="Teknolojiler" type="text" class="form-control" value="@Model.Teknolojiler" required></input>
            </div>
            <div class="field" tabindex="3">
                <label for="Link"><i class="fa fa-code"></i>
                    Github Linki
                </label>
                <input name="Link" type="text" class="form-control" value="@Model.Link" required></input>
            </div>
            <button type="submit">Güncelle</button>
        </div>
        </div>
    </form>
</body>
</html>




