@model MvcCvPrroject.Models.Entity.tblEgitimlerim
@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eğitim Ekle</title>
    <link rel='stylesheet' href='https://codepen.io/uzcho_/pen/RmOWmw.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <link rel="stylesheet" href="~/IletisimDesign/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
    
    <form method="post">
        <div style="margin-top:5rem;" class="resume-section-content">

            <div class="field" tabindex="1">
                <label for="AdSoyad">
                    <i class="fa fa-text-width"></i>Başlık
                </label>
                <input name="Baslik" type="text" required></input>
            </div>
            <div class="field" tabindex="2">
                <label for="email">
                    <i class="fa fa-text-width"></i>Alt Başlık 1
                </label>
                <input name="AltBaslik1" type="text" required></input>
            </div>
            <div class="field" tabindex="3">
                <label for="text">
                    <i class="fa fa-text-width"></i>Alt Başlık 2
                </label>
                <input name="AltBaslik2" type="text" required></input>
            </div>
            <div class="field" tabindex="3">
                <label for="message">
                    <i class="fa fa-calendar"></i>Tarih
                </label>
                <input name="Tarih" type="text" required></input>
            </div>
            <div class="field" tabindex="3">
                <label for="message">
                    <i class="far fa-edit"></i>GNO
                </label>
                <input name="GNO" type="text" required></input>
            </div>
            <button type="submit">Kaydet</button>
        </div>
        </div>
    </form>
</body>
</html>











@*<form method="post">

    <div class="page">
        <div class="container">
            <div class="add-label">
                <label for="Yeni Eğitim Bilgisi Ekle">Yeni Eğitim Bilgisi Ekle</label>
            </div>
            <div style="margin-bottom: 10px;" class="form__group field">
                <input type="input" class="form__field" placeholder="" name="Baslik" id='name' required />
                <label for="name" class="form__label">Başlık</label>
            </div>

            <div style="margin-bottom: 10px;" class="form__group field">
                <input type="input" class="form__field" placeholder="" name="AlBaslik1" id='name' required />
                <label for="name" class="form__label">Alt Başlık 1</label>
            </div>


            <div style="margin-bottom: 10px;" class="form__group field">
                <input type="input" class="form__field" placeholder="" name="AltBaslik2" id='name' required />
                <label for="name" class="form__label">Alt Başlık 2</label>
            </div>

            <div style="margin-bottom: 10px;" class="form__group field">
                <input type="input" class="form__field" placeholder="" name="Tarih" id='name' required />
                <label for="name" class="form__label">Tarih</label>
            </div>

            <div style="margin-bottom: 10px;" class="form__group field">
                <input type="input" class="form__field" placeholder="" name="GNO" id='name' required />
                <label for="name" class="form__label">Genel Not Ortalaması</label>
            </div>
            <div class="button_lay">
                <button class="button" style="letter-spacing: 5px;" role="button">Kaydet</button>
            </div>
        </div>
    </div>
</form>*@


